<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vkontakte.miracle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.vkontakte.miracle.MiracleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />

        <activity
            android:name="com.vkontakte.miracle.MiracleActivity"/>

        <activity
            android:name="com.vkontakte.miracle.login.LoginActivity" />

        <activity
            android:name="com.vkontakte.miracle.StartActivity"
            android:theme="@style/AppThemeStart"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.vkontakte.miracle.player.AudioPlayerService"
            android:enabled="true"
            android:exported="false">
            <!--<intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>-->
        </service>

        <!--<receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>-->

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <service android:name="com.vkontakte.miracle.notification.FcmListenerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".longpoll.LongPollService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>
</manifest>